@import url(../scripts/style/innova.css);
/* ezg */
body,td,p{vertical-align:top;}
body{background: #FFFFFF;font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
a,a:link,a:visited{font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#400040;}
.sub{font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.L{font: 15px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XL{font: 17px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.XXL{font: 23px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#000000;}
.Font Style{font: 12px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#0000ff;}
.multibox{}

/* ezg-end */


      
