@import url(../innovaeditor/scripts/style/innova.css);
hr { color: #000000}
div,li,h1,h2,h3,h4,h5,h6,p,form{margin:0;padding:0;}
body {font: 12px verdana, geneva, arial, helvetica, sans-serif;color:#000000;margin:0px;}
.rvts0,td,p,h4{font-size:12px;color:#000000;vertical-align:top;text-align:left;}
a{color:#400040;text-decoration:underline;}
a.rvts4,.rvts4{font-size:12px;color:#400040;}
a.rvts4:hover{color:#000000;}
.rvts8{font-weight:normal;font-size:11px;color:#000000;}
a.rvts12,.rvts12{font-size:11px;color:#400040;}
a.rvts12:hover{color:#000000;}
.rvts16{font-size:15px;color:#000000;}
a.rvts20,.rvts20{font-size:15px;color:#400040;}
a.rvts20:hover{color:#000000;}
.rvts24{font-size:17px;color:#000000;}
a.rvts28,.rvts28{font-size:17px;color:#400040;}
a.rvts28:hover{color:#000000;}
.rvts32{font-size:23px;color:#000000;}
a.rvts36,.rvts36{font-size:23px;color:#400040;}
a.rvts36:hover{color:#000000;}
h1,h1 a{font-weight:bold;font-size:23px;color:#000000;text-decoration: none;}
h2,h2 a{font-weight:bold;font-size:17px;color:#000000;text-decoration: none;}
h3,h3 a{font-weight:bold;font-size:15px;color:#000000;text-decoration: none;}
h4,h4 a{font-weight:normal;font-size:12px;color:#000000;text-decoration: none;}
h5,h5 a{font-weight:bold;font-size:11px;color:#000000;text-decoration: none;}
h6,h6 a{font-weight:normal;font-size:11px;color:#000000;text-decoration: none;}
p,li,.rvps0{text-align:left;text-indent: 0px;}
.rvps1{text-align:center;}
.rvps2{text-align:right;}
.rvps3{text-align:justify;}
.rvps5{text-indent: 13px;}
/* runtime styles */
.input1 {vertical-align:middle;border: 1px solid #000000;background: #FFFFFF;font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;}
.topic_t{font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;}
.news_t{font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;}
.sub_t{font: 10px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #000000;}
.pageheader{text-align:center;}
.input1:focus{box-shadow: 0 0 2px #606060;}

.caption {font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;font-size:10px;color:#000000;vertical-align:middle;text-align:center}
.topic_t{background:url(../images/t1t.gif?d=422635708451852);width:100%}
.topic_bg{width:100%;background:url(../images/t1m.gif?d=422635708451852);vertical-align:top;}
.topic_l{background:url(../images/t1l.gif?d=422635708451852);height:100%}
.topic_r{background:url(../images/t1r.gif?d=422635708451852);height:100%}
.topic_b{background:url(../images/t1b.gif?d=422635708451852);width:100%}
.wauto .topic_t,.wauto .topic_b,.wauto .topic_bg{width:auto;}

.news_bg{width:100%;background:url(../images/t2m.gif?d=422635708451852);vertical-align:top;}

.sub_t,.sub_tm{background:url(../images/t3t.gif?d=422635708451852);}
.sub_bg,.sub_bgm{background:url(../images/t3m.gif?d=422635708451852);vertical-align:top;}
.sub_l{background:url(../images/t3l.gif?d=422635708451852);height:100%}
.sub_r{background:url(../images/t3r.gif?d=422635708451852);height:100%}
.sub_b,.sub_bm{background:url(../images/t3b.gif?d=422635708451852)}
.sub_b,.sub_t,.sub_bg{width:100%}
.wauto .sub_t,.wauto .sub_b,.wauto .sub_bg{width:auto;}
.cim{display:block;}
.clr{display:block;}

form {padding:0px;display:inline;margin:0px;}
input[type=radio],input[type=checkbox]{margin-bottom:4px;vertical-align:middle;}
.div_handle{cursor:pointer;position:relative;text-align:left;}
.div_handle:after{content: "\25bc";font: 12px Arial, Helvetica, sans-serif;position: absolute;right: 2px;top: 50%;margin-top:-6px;}
.div_handle.div_open:after{content:"\25b2";}
.h_1:after{content: "\25bd";}
.h_1.div_open:after{content:"\25b3";}
.h_2:after{font-size:14px;content: "\22BB";}
.h_2.div_open:after{content:"\22BC";}
.h_3:after{content: "\22C1";}
.h_3.div_open:after{content:"\22C0";}
img{border:0px;}
.ctrlup,.ctrldo{margin-right:1px;border-radius:2px;opacity:0.8;cursor:pointer;background: #fff url(../extimages/scripts/ui-icons.png?d=422635708451852);height: 16px;width: 16px;}
.ctrlup{background-position: 0 -17px;}
.ctrldo{background-position: -65px -17px;}
.ctrldo.hor{background-position: -33px -17px;}
.ctrlup.hor{background-position: -97px -17px;}
.no_u{text-decoration:none;}
.tip-text,.tip-text p,.tip-text span,.tip-text a{white-space:pre-line;word-wrap: break-word;}
.div_col{display:table-cell;vertical-align:top;*float:left;}
ul,ol,li{border:0px;padding:0px;margin:0px;}
.post_content ul,.post_content ol{list-style-position:outside;margin-left:12px;padding: 0 0 0 12px;}
.ajl{padding:2px;background: #fff url(../extimages/scripts/loader.gif?d=422635708451852) center no-repeat;}
.relh{position:relative;overflow:hidden;display:inline-block;}
.abs{position:absolute;top:0;left:0;}
.clear{clear:both;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.bullet{vertical-align:middle;height:13px;width:13px;}
.mobile #content{padding: 0 5px;}
.liveFormInner,.captcha_container{list-style-type: none;}
form .small{width:25%;}
form .medium{width:50%;}
form .large{width: 98%;}
.right{text-align:right;}
.formhint{font-size:80%;margin-top:2px;}
.frmerror{background:url(../ezg_data/warning.gif?d=422635708451852) no-repeat bottom left;padding-left: 20px;margin-bottom:10px;display:inline-block}
.inputerror{border-color:red;}
.search_heading{font-weight:bold;}
.search_highlight{background: #E2E2E2;}
.search_odd,.search_even{clear:left;margin: 12px 0;}
.search_even{background:url(../images/t3m.gif?d=422635708451852);}
.search_content,.search_info{margin-left:17px;}
.search_info{font-style:italic;line-height:200%}
.search_container{margin: 10px 3px 0 0;width:99%;text-align:left;}
.search_title{margin: 3px 0;font-style:italic;line-height:200%;padding: 0 0 10px;z-index:2;}
.search_section{padding: 0 0 10px 5px;margin-bottom:4px;border-radius:4px;}
.search_p{padding: 0 0 6px 6px;}
.search_ld{width:210px;float:left}
.search_rd{margin:0 3px 0 210px;}
.search_ed{width:98%;}
.search_cmb{width:200px;}
.css_button{border:0;border-collapse:separate;-webkit-background-origin: border !important;-moz-background-origin: border !important;background-origin:border-box !important;}
a.css_button,a.css_button:visited,input.css_button,button.css_button{display:inline-block;vertical-align:middle;white-space:nowrap;overflow:visible;cursor: pointer;-webkit-box-sizing: content-box;-moz-box-sizing:content-box;box-sizing:content-box;position:relative;}
.input.css_button{float: none !important;}
.css_button i{text-decoration:none;margin-right:4px;}

.ranking{display:inline-block;visibility:hidden;width:123px;height:16px;padding:2px;position:relative;border-radius:2px;background:#000000;}
.ranking_result{float:left;width:43px;height:16px;text-align:left;}
.ranking_result_locked{background:url(../extimages/scripts/stars.png?d=422635708451852) no-repeat -112px 0;}
.ranking_result span{padding-left:9px;color:#ffffff;font-size: 15px !important;line-height:16px;font-weight:bold;font-family:Trebuchet MS;}
.ranking_star{float:left;margin-left:1px;width:15px;height:16px;text-align:center;border-radius:1px;background: #cc0066;}
.ranking_star span{text-decoration:none;font:12px verdana;cursor:pointer;color:#ffffff}
.ranking_progress{position:absolute;background:#ffffff;width:80px;border-radius:1px;height:16px;left:45px;}

.ul_0_0{padding: 0px 0px 0px 0px;margin: 0px 0px 0px 20px;margin-left:20px;padding: 0;list-style-position:outside;list-style-type:disc;}
.ul_0_1{margin-left:30px;padding: 0;list-style-type:disc;}
.ul_0_2{margin-left:30px;padding: 0;list-style-type:disc;}
.ul_0_3{margin-left:30px;padding: 0;list-style-type:disc;}

.ul_1_0{margin-left:20px;padding: 0;list-style-position:inside;list-style-type:decimal;}
.ul_1_1{margin-left:30px;padding: 0;list-style-type:decimal;}
.ul_1_2{margin-left:30px;padding: 0;list-style-type:decimal;}
.ul_1_3{margin-left:30px;padding: 0;list-style-type:decimal;}

.ul_2_0{margin-left:20px;padding: 0;list-style-position:inside;list-style-type:lower-alpha;}
.ul_2_1{margin-left:30px;padding: 0;list-style-type:lower-alpha;}
.ul_2_2{margin-left:30px;padding: 0;list-style-type:lower-alpha;}
.ul_2_3{margin-left:30px;padding: 0;list-style-type:lower-alpha;}

.ul_3_0{margin-left:20px;padding: 0;list-style-position:inside;list-style-type:lower-roman;}
.ul_3_1{margin-left:30px;padding: 0;list-style-type:lower-roman;}
.ul_3_2{margin-left:30px;padding: 0;list-style-type:lower-roman;}
.ul_3_3{margin-left:30px;padding: 0;list-style-type:lower-roman;}

.ul_4_0{margin-left:20px;padding: 0;list-style-position:inside;list-style-type:none;}
.ul_4_1{margin-left:30px;padding: 0;list-style-type:none;}
.ul_4_2{margin-left:30px;padding: 0;list-style-type:none;}
.ul_4_3{margin-left:30px;padding: 0;list-style-type:none;}
.hhint .tip{background: #808080;padding:2px;width:200px;color:#000000;}
.hhint .tip-title{background: #ababab;padding: 0px 3px;height:17px;font: small-caps bold 11px Tahoma, Verdana, Arial, sans-serif;color:#ffffff;}
.hhint .tip-text{background: #c0c0c0;padding:3px;font: 12px Tahoma, Verdana, Arial, sans-serif;color:#000000;}
.ihint .tip{background: #808080;padding:2px;color:#000000;}
.ihint .tip-top{color:#000000;}
.ihint .tip-title{padding: 0px 2px;font: small-caps bold 11px Tahoma, Verdana, Arial, sans-serif;color:#ffffff;}
.post_content ul, .post_content ol{list-style-position: outside;margin-left: 12px;padding: 0 0 0 12px;}.post_content ul, .post_content ol {margin: 0 0 10px 25px;padding: 0;}/* end runtime styles */
body{height:100%;background:#575C5F;}

/*template styles*/
#container{width:100%;height:100%;position:relative;}
#topbar{width:990px;height:212px;position:relative;}
#main{width:990px;margin-left:auto;margin-right:auto;overflow:auto;background: url(../images/bg.gif?d=422635708451852);margin-top:10px;}
#nav{float:left;width:200px;}
#xm1{background: #ffffff;float:left;margin-left:20px;width:750px;min-height:500px;height:auto !important;height:460px;}
#xm2{padding:0px;}
#bottom{float:left;height:33px;}
#banner{position:absolute;top:0px;left:0px;}
#eima{position:absolute;top:0px;left:200px;}
#eima1{position:absolute;top:0px;left:465px;}
#eima2{position:absolute;top:0px;left:722px;}
#search{height:33px;width:990px;background:url(../images/top_bg.gif?d=422635708451852);}
#search div{width:200px;text-align:center;padding-top:7px;}
#earea{width:176px;margin: 2px 12px;}

/*LEVEL1 menu definition*/
#mmenu{padding:0px;margin:0px;list-style-type:none;}
#mmenu li{float:left;width:200px;}
#mmenu img,#mmenu a{display:block;}

/*LEVEL1 menu style*/
.mmenu{text-transform:uppercase;color:#FFFFFF;text-indent:30px;display:block;width:200px;height:29px;font: bolder 11px/29px Verdana, Geneva, Arial, Helvetica, sans-serif;background:url(../images/mb.gif?d=422635708451852) 0 0;}
a.mmenu:link{color:#FFFFFF;text-decoration:none;}
a.mmenu:visited{text-decoration:none;}
a.mmenu:hover{background-position:0 -29px;color:#c0c0c0;text-decoration:none;}
a.mmenu#ma{background-position:0 -58px;color:#FFFFFF;text-decoration:none;}

/*LEVEL2 menu style*/
.smenu{text-transform:uppercase;color:#000000;text-indent:30px;display:block;width:200px;height:26px;font: 11px/26px Verdana, Geneva, Arial, Helvetica, sans-serif;background:url(../images/sb.gif?d=422635708451852) 0 0;}
a.smenu:link{color:#000000;text-decoration:none;}
a.smenu:visited{text-decoration:none;}
a.smenu:hover{background-position:0 -26px;color:#667AA4;}
a.smenu#sa{background-position:0 -52px;color:#000000;text-decoration:none;}

/*LEVEL3 menu definition*/
#hor a,#hor span{height:20px;padding:0px;background: url(../images/sub.gif?d=422635708451852);}
#ver{border: 1px solid #000000;}
#ver a,#ver span{width:120px;line-height:20px;padding:2px;}
#hor{line-height:26px;}

/*LEVEL3 menu style*/
.ssmenu{font-size: 11px;color:#0080FF;padding-left:0px;}
.ssmenu a:link{color:#000000;text-decoration:none;}
.ssmenu a:visited{color:#000000;}
.ssmenu a:hover{color:#400040;text-decoration:underline;}

/*LEVEL3 menus inside LEVEL2 */
.ss2menu{color:#000000;text-indent:45px;display:block;width:200px;height:26px;font: 11px/26px Verdana, Geneva, Arial, Helvetica, sans-serif;background:url(../images/ssb.gif?d=422635708451852) 0 0;}
a.ss2menu:link{color:#000000;text-decoration:none;}
a.ss2menu:visited{text-decoration:none;}
a.ss2menu:hover{background-position:0 -26px;color:#000000;}
a.ss2menu#sa{background-position:0 -52px;color:#000000;text-decoration:none;}

/*LEVEL3 page frames*/
#smheader{height:30px;}
#smcont{height:100%;}
#smbodyr{height:100%;margin: 0px 120px 0px 0px;}
#smmenur{width:110px;float:right;}
#smbodyl{height:100%;margin: 0px 0px 0px 120px;}
#smmenul{float:left;width:110px;}
#smbodyl2{height:100%;margin: 5px 0px 0px 120px;}
#wrapeima_cti_2 .nivo-caption p{font: 28px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#FFFFFF;}
#wrapeima_cti_1 .nivo-caption p{font: 28px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#FFFFFF;}
#wrapeima_cti_0 .nivo-caption p{font: 28px Verdana, Geneva, Arial, Helvetica, sans-serif;color:#FFFFFF;}
#wrapeima_banner .nivo-caption p{font: bold 18px 'Trebuchet MS', Verdana, sans-serif;color:#FFFFFF;;}
.news_t,.topic_t,.sub_t{vertical-align:middle;}
.hidden{display:none;}
