<html>
<head>
<link href="../styles.css" type=text/css rel=stylesheet>
</head>
<body>
<div id="container">
<div id="main">
	<div id="topbar">
		<div id="banner"><a href="%homepage%" alt=""><img src=%Image:Banner% alt=""></a></div>
		<div id="eima"><img src="../images/cti_0.jpg" alt=""></div>
		<div id="eima1"><img src="../images/cti_1.jpg" alt=""></div>
		<div id="eima2"><img src="../images/cti_2.jpg" alt=""></div>
	</div>
	<div id="search"><div><!--%SITESEARCH(10,true,90)%--></div></div>
	<div id="nav">
		<ul id="mmenu">
		%LEVEL1MENU%
		<li><div id="earea"><!--%area(area1,176px,)%--></div></li>
		</ul>
	</div>
	<div id="xm1"><div align="left" id="xm2">%PAGE%</div></div>
	<div id="bottom"><img src="../images/bottom.gif" alt=""></div>
</div>
<div id="footer"><!--%PAGEFOOTER%--></div>
</div>
</body>
</html>
